PORT=3000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/edri
JWT_SECRET=edri_secret_key_schimba_asta
PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_SECRET=your_paypal_secret
SENDGRID_API_KEY=your_sendgrid_key
NEWS_API_KEY=your_newsapi_key
